/* .all{
    background-image:url('https://images.wallpaperscraft.com/image/city_blur_glare_115698_300x168.jpg');
    background-repeat:no-repeat;
    background-size:cover;
} */
label,h2{
    color:white;
}