<!-- <p>display-quotes works!</p> -->
<h1 class="text-center">QUOTES</h1>
<hr>
<div class="row">
    <div class="col">
        <h2 class="text-center">Added quotes</h2>
        <hr>
        <div *ngFor='let quote of quotes let i=index'>
            <p class="text-center">{{quote.quotesWritten}}</p>
            <button (click)='toggleDetails(i)'>Quotes details</button>
            <app-quotes-details [quote]='quote' *ngIf='quote.showDetails'></app-quotes-details>
        </div>
    </div>
    <div class="col">
        <app-display-quotes-form></app-display-quotes-form>
    </div>

</div>